<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DatumContext" connectionString="metadata=res://*/DataModels.DATUM.DATUMModel.csdl|res://*/DataModels.DATUM.DATUMModel.ssdl|res://*/DataModels.DATUM.DATUMModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=//devsrv/orkl;PASSWORD=;PERSIST SECURITY INFO=True;USER ID=KSPD&quot;" providerName="System.Data.EntityClient" />
    <add name="AdmContext" connectionString="metadata=res://*/DataModels.ADM.ADMModel.csdl|res://*/DataModels.ADM.ADMModel.ssdl|res://*/DataModels.ADM.ADMModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=//devsrv/orkl;PASSWORD=;PERSIST SECURITY INFO=True;USER ID=KSPD&quot;" providerName="System.Data.EntityClient" />
    <add name="DrmContext" connectionString="metadata=res://*/DataModels.DRM.DRMModel.csdl|res://*/DataModels.DRM.DRMModel.ssdl|res://*/DataModels.DRM.DRMModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;CONTEXT CONNECTION=False;DATA SOURCE=//devsrv/orkl;PASSWORD=;PERSIST SECURITY INFO=True;USER ID=KSPD&quot;" providerName="System.Data.EntityClient" />
    <add name="NsiContext" connectionString="metadata=res://*/DataModels.NSI.NSIModel.csdl|res://*/DataModels.NSI.NSIModel.ssdl|res://*/DataModels.NSI.NSIModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=//devsrv/orkl;PASSWORD=;PERSIST SECURITY INFO=True;USER ID=KSPD&quot;" providerName="System.Data.EntityClient" />
    <add name="REFDATAContext" connectionString="metadata=res://*/DataModels.REFDATA.REFDATAModel.csdl|res://*/DataModels.REFDATA.REFDATAModel.ssdl|res://*/DataModels.REFDATA.REFDATAModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=//devsrv/orkl;PASSWORD=;PERSIST SECURITY INFO=True;USER ID=KSPD&quot;" providerName="System.Data.EntityClient" />
    <add name="CombinedModelContext" connectionString="metadata=res://*/DataModels.Model.CombinedModel.csdl|res://*/DataModels.Model.CombinedModel.ssdl|res://*/DataModels.Model.CombinedModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=//devsrv/orcl;PASSWORD=;PERSIST SECURITY INFO=True;USER ID=KSPD&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>