<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="${tempdir}"/>
  <variable name="logFileNamePrefix" value="${processname}"/>
  <targets>
    <target name="fileTrace" xsi:type="File" fileName="${logDirectory}\${logFileNamePrefix}_TraceLog.log"
      layout="${longdate}: [${level}]${message}" />
    <target name="fileError" xsi:type="File" fileName="${logDirectory}\${logFileNamePrefix}_ErrorLog.log"
      layout="${longdate}: [${level}]${message}${newline}${exception:maxInnerExceptionLevel=10:format=ToString,StackTrace}" />
    <target name="consoleInfo" xsi:type="Console"  
            layout="${message}" />
    <target name="LoaderErrorsLog" xsi:type="File" fileName="${logDirectory}\${logFileNamePrefix}_LoaderLog.log"
            layout="${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="fileError" />
    <logger name="*" minlevel="Trace" writeTo="fileTrace" />
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="consoleInfo" />
    <logger name="KSPDIGT.ArcGIS.Loader.LoaderLog" minlevel="Info" maxlevel="Info" writeTo="LoaderErrorsLog" />
  </rules>
</nlog>
