<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KSPDIGT.GDBConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GdbConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <KSPDIGT.GDBConverter.Properties.Settings>
            <setting name="SourceDbPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationDbPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationDbName" serializeAs="String">
                <value />
            </setting>
            <setting name="DestSDEServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="DestSDEServiceName" serializeAs="String">
                <value />
            </setting>
            <setting name="DestSDELogin" serializeAs="String">
                <value />
            </setting>
            <setting name="DestSDEPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DestSDEAuthType" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceSDEServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceSDEServiceName" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceSDELogin" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceSDEPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceSDEAuthType" serializeAs="String">
                <value />
            </setting>
        </KSPDIGT.GDBConverter.Properties.Settings>
        <GdbConverter.Properties.Settings>
            <setting name="SourceDbPath" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="DestinationDbPath" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="DestinationDbName" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="DestSDEServerName" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="DestSDEServiceName" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="DestSDELogin" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="DestSDEPassword" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="DestSDEAuthType" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="SourceSDEServerName" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="SourceSDEServiceName" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="SourceSDELogin" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="SourceSDEPassword" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="SourceSDEAuthType" serializeAs="String">
                <value>-</value>
            </setting>
        </GdbConverter.Properties.Settings>
    </userSettings>
</configuration>
