<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    <section name="connections" type="Intech.Common.Configuration.ConnectionConfigSection, Intech.Common" />
  </configSections>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.DataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.DataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <netTcpBinding>
        
        <binding name="tcp_unsecured" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="23:58:00" sendTimeout="23:58:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        
        <binding name="GeneralServiceBindingConfig" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="23:58:00" sendTimeout="23:58:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" listenBacklog="10"
            maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10"
            maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="23:58:00"
              enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        
      </netTcpBinding>
      
      <basicHttpBinding>
        <binding name="Auth_serviceSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="1048576" maxArrayLength="10485760" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCFServiceBehaviour">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceAuthorization serviceAuthorizationManagerType="KSPDIGT.Server.ServiceImplementations.WcfServiceAuthorizationManager, KSPDIGT.Server" />
        </behavior>

        <behavior name="WebServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>

      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="WCFServiceBehaviour" name="KSPDIGT.Server.ServiceImplementations.KSPDGeneralService">
        <endpoint address="basic" binding="netTcpBinding" bindingConfiguration="tcp_unsecured"
          name="GeneralServiceConfig" contract="KSPDIGT.Base.ServiceContracts.Services.IKSPDGeneralService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          name="GeneralServiceMetadataConfig" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8097/KSPDIGT.Server/KSPDGeneralService" />
          </baseAddresses>
        </host>
      </service>
      
      <service behaviorConfiguration="WCFServiceBehaviour" name="KSPDIGT.Server.ServiceImplementations.MapService">
        <endpoint address="basic" binding="netTcpBinding" bindingConfiguration="tcp_unsecured"
          name="MapServiceConfig" contract="KSPDIGT.Base.ServiceContracts.Services.IMapService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          name="MapServiceMetadataConfig" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8097/KSPDIGT.Server/MapService" />
          </baseAddresses>
        </host>
      </service>
      
      <service behaviorConfiguration="WCFServiceBehaviour" name="KSPDIGT.Server.ServiceImplementations.AuthentificationService">
        <endpoint address="basic" binding="netTcpBinding" bindingConfiguration="tcp_unsecured"
          name="AuthentificationServiceConfig" contract="KSPDIGT.Base.ServiceContracts.Services.IAuthentificationService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          name="AuthentificationServiceMetadataConfig" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8097/KSPDIGT.Server/AuthentificationService" />
          </baseAddresses>
        </host>
      </service>
      
      <service behaviorConfiguration="WCFServiceBehaviour" name="KSPDIGT.Server.ServiceImplementations.SizeCheckService">
        <endpoint address="basic" binding="netTcpBinding" bindingConfiguration="tcp_unsecured"
          name="SizeCheckServiceConfig" contract="KSPDIGT.Base.ServiceContracts.Services.ISizeCheckService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          name="SizeCheckServiceMetadataConfig" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8097/KSPDIGT.Server/SizeCheckService" />
          </baseAddresses>
        </host>
      </service>
      
      <service behaviorConfiguration="WCFServiceBehaviour" name="KSPDIGT.Server.ServiceImplementations.CalculationService">
        <endpoint address="basic" binding="netTcpBinding" bindingConfiguration="tcp_unsecured"
          name="CalculationServiceConfig" contract="KSPDIGT.Base.ServiceContracts.Services.ICalculationService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          name="CalculationServiceMetadataConfig" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8097/KSPDIGT.Server/CalculationService" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="WCFServiceBehaviour" name="KSPDIGT.Server.ServiceImplementations.ProcessWithCallbackService">
        <endpoint address="basic" binding="netTcpBinding" bindingConfiguration="tcp_unsecured"
          name="ProcessWithCallbackServiceConfig" contract="KSPDIGT.Base.ServiceContracts.Services.IProcessWithCallbackService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          name="ProcessWithCallbackServiceMetadataConfig" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8097/KSPDIGT.Server/ProcessWithCallbackService" />
          </baseAddresses>
        </host>
      </service>


      <service behaviorConfiguration="WebServiceBehavior" name="KSPDIGT.Server.ServiceImplementations.DataWebService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="KSPDIGT.Base.ServiceContracts.Services.IDataWebService">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://*:8099/KSPDIGT.Server/DataWebService" />
          </baseAddresses>
        </host>
      </service>
      
    </services>
    <client>
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="Auth_serviceSoapBinding" contract="KSPDIGT.Server.Administration.AuthentificationServiceProxy.Auth_service" name="Auth_service" />
      <!--<endpoint address="http://10.144.13.38:9080/auth_service/services/Auth_service" binding="basicHttpBinding" bindingConfiguration="Auth_serviceSoapBinding" contract="KSPDIGT.Server.Administration.AuthentificationServiceProxy.Auth_service" name="Auth_service" />-->
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="General" connectionString="metadata=res://*/DataModels.NSI.NSIModel.csdl|res://*/DataModels.NSI.NSIModel.ssdl|res://*/DataModels.NSI.NSIModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=//devsrv/orcl;PASSWORD=kspd;PERSIST SECURITY INFO=True;USER ID=KSPD&quot;" providerName="System.Data.EntityClient" />
    <add name="NorthwindEFEntities" connectionString="metadata=res://*/DataModels.NSI.NSIModel.csdl|res://*/DataModels.NSI.NSIModel.ssdl|res://*/DataModels.NSI.NSIModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=//devsrv/orcl;PASSWORD=kspd;PERSIST SECURITY INFO=True;USER ID=KSPD&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/SemaphorORM.csdl|res://*/SemaphorORM.ssdl|res://*/SemaphorORM.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=//10.144.27.116/orcl;PASSWORD=;PERSIST SECURITY INFO=True;USER ID=SYSTEM&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <!-- Настройки соединения-->
  <connections useDbTrace="false"/>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

</configuration>