<?xml version="1.0"?>
<ServerSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AuthenticationServerUrl>http://10.144.13.38:9080/auth_service/services/Auth_service</AuthenticationServerUrl>
  <DatabaseConnectionString>USER ID=system;PASSWORD=system;DATA SOURCE=//devsrv/orcl</DatabaseConnectionString>
  <PhotoFixationConnectionString>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ConnectionParametersClass xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;Url /&gt;
  &lt;Server&gt;devsrv&lt;/Server&gt;
  &lt;Instance&gt;sde:oracle$//devsrv/orcl&lt;/Instance&gt;
  &lt;Database /&gt;
  &lt;AuthenticationMode&gt;DBMS&lt;/AuthenticationMode&gt;
  &lt;User&gt;geo&lt;/User&gt;
  &lt;Password&gt;geo&lt;/Password&gt;
  &lt;Encrypted_Password /&gt;
  &lt;Version /&gt;
&lt;/ConnectionParametersClass&gt;</PhotoFixationConnectionString>
  <LicenseKey>GSDJGBNFBSFGHFGHSFGHSFMBNFSNVCSHGSSTSTSTTSBVAAAAAAAAAAAGHDJSHSDBNSDNBNMBSDHJGHFSDFGSDHFSDGHSDMNBVSDBVSDNBCVTDWIOUPOUIQ</LicenseKey>
  <LicenseHost>localhost:8098</LicenseHost>
  <PointCloudServerHost>localhost:8091</PointCloudServerHost>
  <PointCloudStreamPort>8095</PointCloudStreamPort>
  <AuthorizationMode>Kspd</AuthorizationMode>
  <UseSafePassword>false</UseSafePassword>
  <ClientTimeOut>600</ClientTimeOut>
  <ClientCheckPeriod>60</ClientCheckPeriod>
  <SizeCheckMaxDegreeOfParallelism>2</SizeCheckMaxDegreeOfParallelism>
  <GlobalSettings>
    <AsupHost>http://10.200.1.128/asup_report/report.aspx</AsupHost>
    <SizeCheckMinPointsCountInFrame>30</SizeCheckMinPointsCountInFrame>
    <SizeCheckMinPointsCountForIdentification>1</SizeCheckMinPointsCountForIdentification>
    <PointCloudServerHost> </PointCloudServerHost>
    <UsePointCloudService>false</UsePointCloudService>
    <AppServerStreamPort>8094</AppServerStreamPort>
  </GlobalSettings>
</ServerSettings>