<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="${tempdir}"/>
  <variable name="logFileNamePrefix" value="${processname}"/>
  <targets>
    <target name="fileTrace" xsi:type="File" fileName="${logDirectory}\${logFileNamePrefix}_TraceLog.log"
      layout="${longdate}: [${level}]${message}" />
    <target name="fileError" xsi:type="File" fileName="${logDirectory}\${logFileNamePrefix}_ErrorLog.log"
      layout="${longdate}: [${level}]${message}${newline}${exception:maxInnerExceptionLevel=10:format=ToString,StackTrace}" />

    <!--<target name="fileDebugCsv" xsi:type="File" fileName="${logDirectory}\${logFileNamePrefix}_DebugLog_${date:cached=True:format=yyyyMMdd-HHmmss}.csv"
            layout="${message}">
    </target>

    <target name="PointCloudDebugTarget" xsi:type="File" fileName="${logDirectory}\${logFileNamePrefix}_PointCloud_${date:cached=True:format=yyyyMMdd-HHmmss}.csv"
            layout="${message}" />-->

    <target name="TcpOutlet" xsi:type="NLogViewer" address="tcp4://localhost:4505"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="fileError" />
    <logger name="*" minlevel="Trace" writeTo="fileTrace" />
    <!--  Включать только для отладки. Течет память (#5061)
    <logger name="*" minlevel="Trace" writeTo="TcpOutlet" /> -->
    <!--<logger name="DebugCsv" minlevel="Trace" writeTo="fileDebugCsv" />-->
  </rules>
</nlog>
